---
import Title from "@/components/fonts/Title.astro";
const imageBrands = [
  {
    key: "jpicare",
    imgSrc: "/img/brands/jpicare.webp",
    alt: "imagen de logo de jpi",
    link: "https://www.jpihealthcare.com/",
    tall: false,
  },
  {
    key: "villa",
    imgSrc: "/img/brands/villa.webp",
    alt: "imagen de logo de villa",
    link: "https://www.villasm.com/es/",
    tall: true,
  },
  {
    key: "focus and fusion",
    imgSrc: "/img/brands/focus.webp",
    alt: "imagen de logo de focus and fusion",
    link: "https://es.focus-fusion.com/",
    tall: false,
  },
];

const instrumentalBrands = [
  {
    key: "maqsurgical",
    imgSrc: "/img/brands/maqsurgical.webp",
    alt: "imagen de logo de maqsurgical",
    link: "https://maqsurgical.com/",
  },
  {
    key: "reda",
    imgSrc: "/img/brands/reda.webp",
    alt: "imagen de logo de medline",
    link: "https://medline.com/",
  },
];
---

<section class="text-center">
  <Title title="Nuestras Marcas" />
  <div class="flex justify-around mt-4">
    <div>
      <p class="text-3xl">Diagnostico por imagen</p>
      <div class="mt-7 grid grid-cols-2 gap-4">
        {
          imageBrands.map((brand) => (
            <a
              href={brand.link}
              target="_blank"
              rel="noopener noreferrer"
              class={`${brand.tall ? "row-span-2" : ""}`}
            >
              {brand.key !== "villa" ? (
                <div class="flex items-center justify-center h-full">
                  <img src={brand.imgSrc} alt={brand.alt} class="w-52"/>
                </div>
              ) : (
              <img src={brand.imgSrc} alt={brand.alt} class="w-32"/>
              )}
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <p class="text-3xl">Instrumental médico</p>
      <div class="mt-7 flex flex-col gap-4">
        {
          instrumentalBrands.map((brand) => (
            <a href={brand.link} target="_blank" rel="noopener noreferrer">
              <img src={brand.imgSrc} alt={brand.alt} class="w-52" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
