---
import Title from "@/components/fonts/Title.astro";
import { instrumentalBrands, imageBrands } from "@/constans/Brands";
---

<section class="text-center">
  <Title title="Nuestras marcas" />
  <div class="flex flex-col md:flex-row justify-around mt-8 gap-10 md:gap-0">
    <div>
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold">
        Diagnostico por imagen
      </p>

      <div class="mt-7 grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          imageBrands.map((brand) => (
            <a
              href={brand.link}
              target="_blank"
              rel="noopener noreferrer"
              class={`${brand.tall ? "md:row-span-2" : ""}`}
            >
              {brand.key !== "villa" ? (
                <div class="flex items-center justify-center h-full w-full">
                  <img src={brand.imgSrc} alt={brand.alt} class="w-52" />
                </div>
              ) : (
                <div class="flex items-center justify-center h-full w-full">
                  <img src={brand.imgSrc} alt={brand.alt} class="w-32" />
                </div>
              )}
            </a>
          ))
        }
      </div>
    </div>

    <div
      class="text-center md:text-left flex flex-col items-center md:items-start"
    >
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold">
        Instrumental médico
      </p>
      <div class="mt-7 flex flex-col gap-4">
        {
          instrumentalBrands.map((brand) => (
            <a href={brand.link} target="_blank" rel="noopener noreferrer">
              <img src={brand.imgSrc} alt={brand.alt} class="w-52" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
