---
import Title from "@/components/fonts/Title.astro";
const imageBrands = [
  {
    key: "jpicare",
    imgSrc: "/public/img/brands/jpicare.webp",
    alt: "imagen de logo de jpi",
    link: "https://jpicare.com/",
    tall: false,
  },
  {
    key: "villa",
    imgSrc: "/public/img/brands/villa.webp",
    alt: "imagen de logo de villa",
    link: "https://villa.com/",
    tall: true,
  },
  {
    key: "focus and fusion",
    imgSrc: "/public/img/brands/focus.webp",
    alt: "imagen de logo de focus and fusion",
    link: "https://focusandfusion.com/",
    tall: false,
  },
];

const instrumentalBrands = [
  {
    key: "maqsurgical",
    imgSrc: "/public/img/brands/maqsurgical.webp",
    alt: "imagen de logo de maqsurgical",
    link: "https://maqsurgical.com/",
  },
];
---

<section class="text-center">
  <Title title="Nuestras Marcas" />
  <div class="flex justify-around mt-4">
    <div>
      <p class="text-3xl">Diagnostico por imagen</p>
      <div class="mt-7 grid grid-cols-2 gap-4">
        {
          imageBrands.map((brand) => (
            <a 
              href={brand.link} 
              target="_blank" 
              rel="noopener noreferrer"
              class={`${brand.tall ? 'row-span-2' : ''}`}
              >
              <img src={brand.imgSrc} alt={brand.alt} />
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <p class="text-3xl">Instrumental médico</p>
      <div class="mt-7">
        {
          instrumentalBrands.map((brand) => (
            <img src={brand.imgSrc} alt={brand.alt} />
          ))
        }
      </div>
    </div>
  </div>
</section>
