---
import SocialMediaButton from "@/components/buttons/SocialMediaButton.astro";
import Logo from "@/assets/logo.svg";
import FacebookIcon from "@/assets/social/facebook.svg";
import GmailIcon from "@/assets/social/gmail.svg";
import InstagramIcon from "@/assets/social/instagram.svg";
import PhoneIcon from "@/assets/social/phone.svg";
import TiktokIcon from "@/assets/social/tiktok.svg";
import ContactButton from "@/components/buttons/ContactButton.astro";

const links = [
  { href: "/about", text: "Sobre nosotros" },
  { href: "/services", text: "Nuestras Marcas" },
  { href: "/contact", text: "Servicios" },
  { href: "/privacy", text: "Encuéntranos" },
  { href: "/terms", text: "Preguntas Frecuentes" },
];

const socialMedia = [
  {
    platform: "Facebook",
    url: "https://www.facebook.com/profile.php?id=61572627796132",
    icono: FacebookIcon,
  },
  {
    platform: "Instagram",
    url: "https://instagram.com",
    icono: InstagramIcon,
  },
  // {
  //   platform: "TikTok",
  //   url: "https://tiktok.com",
  //   icono: TiktokIcon,
  // },
  {
    platform: "axismed.info@gmail.com",
    url: "mailto:axismed.info@gmail.com",
    icono: GmailIcon,
  },
  {
    platform: "+503 77422509",
    url: "/",
    icono: PhoneIcon,
  },
];
---

<footer
  class="relative left-1/2 right-1/2 -mx-[50vw] w-screen bg-[#2583C5]/50 flex flex-col gap-16 p-15"
>
  <div class="flex justify-around">
    <div class="flex flex-col gap-10">
      <a href="/"><Logo class="w-100 h-auto" /></a>
      <p>Carretera del Puerto de La Libertad, km10, N°9</p>
      <p>Antiguo Cuscatlán, La Libertad, El Salvador</p>
      <p class="font-bold">Horario de atención:</p>
      <p>Lunes a Viernes: 8:00 AM - 5:30 PM</p>
    </div>

    <div class="flex flex-col gap-10">
      <nav>
        <ul class="flex flex-col gap-12">
          {
            links.map((link) => (
              <li>
                <a href={link.href}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </nav>
      <ContactButton />
    </div>

    <div class="flex flex-col gap-10">
      <p>Redes Sociales</p>
      <div class="flex flex-col gap-10">
        {
          socialMedia.map(({ platform, url, icono }) => (
            <SocialMediaButton platform={platform} url={url} icono={icono} />
          ))
        }
      </div>
      <p class="text-[10px] font-bold">&copy; {new Date().getFullYear()} Axis-Med. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
